.ui-inputtext {
	width: 100% !important;
}

.ui-inputfield {
	width: 100% !important;
}

.ui-calendar {
	width: 100% !important;
}

.ui-picklist .ui-picklist-list {
	width: 100% x !important;
}

.ui-cell-editor-input input{
	color: black;
}
/* Select one menu */

.ui-selectonemenu {
	min-width : 100% !important;
	max-width : 100% !important;
	width: 100% !important;
}

.ui-selectonemenu-filter-container {
	width: 100% !important;
}

.ui-selectonemenu-filter {
	width: 100% !important;
}

/* Check box */

.ui-chkbox {
	margin-right: 5px !important;
	float: left !important;
}

/* Auto complete */
		
.ui-autocomplete {
	width: 100% !important;
}

.ui-autocomplete-input {
	width: 100% !important;
}

/* Data Table */

.ui-datatable td {
	padding: 2px !important;
}

.cyk-datatable .ui-datatable-header{
	padding: 0px !important;
}

.cyk-datatable .ui-toolbar {
	padding: 0px !important;
	border: none !important;
}
/* CYK */

.cyk-font-weight-bold {
	font-weight : bold !important;
}

.cyk-business-identifier {
	font-weight : bold !important;
}

.cyk-page-form-content-messages {
	padding: 0px !important;
}

.cyk-page-form-content-title {
	font-size: large !important;
	font-weight: bold !important;
}

.cyk-page-form-content-title-separator {
	margin-top: 5px !important;
	margin-bottom: 5px!important;
}

.cyk-top-bar-application-name {
	font-size: x-large !important;
	font-weight: bold !important;
	position: absolute !important;
	left: 60px !important;
	top: 8px !important;
	z-index: 1 !important;
	color: white !important;
	padding-left: 5px !important;
}

.cyk-min-width-100-percent {
	min-width: 100% !important;
}

.cyk-min-height-100-percent {
	min-height: 100% !important;
}

.cyk-min-width-90-percent {
	min-width: 90% !important;
}

.cyk-min-height-90-percent {
	min-height: 90% !important;
}

.cyk-text-transform-uppercase {
	text-transform: uppercase !important;
}

.cyk-background-highlight {
	background: #ff8080!important;
}

.cyk-background-highlight-gray {
	background: #cbcbc7!important;
}

.cyk-background-gray {
	background: gray !important;
}

.cyk-background-red {
	background: red !important;
}


.cyk-margin-left-5-px {
	margin-left : 5px !important;
}

.cyk-margin-left-10-px {
	margin-left : 10px !important;
}

.cyk-text-align-right {
    text-align:right !important;
}

.cyk-float-right {
	float: right;
}